<div class="favorites list-layout">
  <ul class="inventory-list items-list">
  {{#if favItems}}
    <li class="items-header">
      <h3>{{localize 'SW5E.Inventory'}}</h3>
      <div class="items-header-labels">
        <div class="items-header-charge" title="{{localize 'SW5E.Charges'}}"><i class="fas fa-bolt"></i></div>
        <div class="items-header-usage">{{localize 'SW5E.Usage'}}</div>
      </div>
    </li>
    <ul class="item-list">
      {{#each favItems as |item id|}}
       {{> "modules/tidysw5e-sheet/templates/favorites/item.hbs" item=item}}
      {{/each}}
    </ul>
  {{/if}}
  {{#if favFeats}}
    <li class="items-header">
      <h3>{{localize 'SW5E.Features'}}</h3>
      <div class="items-header-labels">
        <div class="items-header-uses">{{localize 'SW5E.Uses'}}</div>
        <div class="items-header-usage">{{localize 'SW5E.Usage'}}</div>
      </div>
    </li>
    <ul class="item-list">
      {{#each favFeats as |feat lvl|}}
      {{> "modules/tidysw5e-sheet/templates/favorites/item.hbs" item=feat}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if favPowersPrepMode}}
    {{#each favPowersPrepMode as |section lvl|}}
      {{#if section.powers}}
        {{#if lvl}}
          <li class="items-header powerbook-header">
            <div class="power-level-slots">                                   
              <h3>
              {{#if section.isAlways}}{{localize 'SW5E.PowerPrepAlways'}}
              {{else if section.isAtWill}}{{localize 'SW5E.PowerPrepAtWill'}}
              {{else if section.isInnate}}{{localize 'SW5E.PowerPrepInnate'}}
              {{/if}}
              </h3>
            </div>
          </li>
        {{/if}}
        <ul class="item-list">
          {{#each section.powers as |power id|}}
            {{> "modules/tidysw5e-sheet/templates/favorites/item.hbs" item=power}}
          {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if favPowers}}
    {{#each favPowers as |section lvl|}}
      {{#if section.powers}}
        {{#if lvl}}
          <li class="items-header powerbook-header">
            <div class="power-level-slots">                    
              <h3>
              {{#if section.isCantrip}}{{localize 'SW5E.PowerCantrip'}}
              {{else if section.isAlways}}{{localize 'SW5E.PowerPrepAlways'}}
              {{else if section.isAtWill}}{{localize 'SW5E.PowerPrepAtWill'}}
              {{else if section.isInnate}}{{localize 'SW5E.PowerPrepInnate'}}
              {{else}}{{localize 'SW5E.PowerLevel'}} {{lvl}}{{/if}}
              </h3>
            </div>
            <div class="items-header-labels">
              <div class="items-header-comps">{{localize 'TIDY5E.Components'}}</div>
              <div class="items-header-usage">{{localize 'SW5E5E.PowerUsage'}}</div>
            </div>
          </li>
        {{/if}}
        <ul class="item-list">
          {{#each section.powers as |power id|}}
            {{> "modules/tidysw5e-sheet/templates/favorites/item.hbs" item=power}}
          {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  {{/if}}
  </ul>
</div>
